body{
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
}
main{
backdrop-filter: blur(9px) saturate(120%);
  -webkit-backdrop-filter: blur(9px) saturate(120%);
  background-color: rgba(226, 226, 226, 0.26);
  border-radius: 10px;
  border: 3px solid rgba(255, 255, 255, 0.125);
  width: fit-content;
  padding: 17px 20px;
  box-shadow: 0.5em 0.5em 0.5em rgba(0, 0, 0, 0.3);
}
.display_img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 100%;
    border: 3px solid rgb(168, 168, 168);
}
a{
    color: rgb(172, 172, 172);
}
